<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PulseProsper</title>
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body >

<!-- nav bar-->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #333;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="logoimage.png" width="50px" height="50px" alt="PuslseProper"></a>
            <p style="color: white; margin-top: 15px;">PulseProsper</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="nav-item-1"><a class="nav-link" href="#scrollHome" style="color: white;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#scrollAbout" style="color: white;">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#scrollServices" style="color: white;">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#scrollTeam" style="color: white;">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup" id="register-button" style="color: white;">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div><br>
    <!--Main heading-->
    <div class="main">
            <p style="color: white;"  id="scrollHome">hello</p>
            <div class="home" style="margin-left: 50px;">
                <h2 class="home-heading" style="font-size: 38px;">CHECK YOUR HEART HEALTH<br>BEFORE IT'S TOO LATE</h2>
                <p class="home-sub">
                    "Join a community dedicated to heartful living,let's discover the keys<br> to a vibrant heart,pulsating with strength, and radiating vitality."
                </p>
                <a href="/signup" class="sign-in" style="color: white; text-decoration: none;" >GET STARTED</a>
                <!-- <a href="#" class="sign-up" style="color: white; text-decoration: none;">SIGN UP</a> -->
            </div>
    </div>
    <!--  About sec -->
    <p style="color: white;"id="scrollAbout" >helllo</p>
    <div class="about">
        <div>
            <h2 class="about-heading">About Us</h2>
        </div>
        <div class="about-1">
            <h4>Cardiovascular Anatomy and Function</h4>
            <p>Provide a comprehensive overview of the heart's anatomy and its crucial role in the cardiovascular system.The structure of the heart chambers, and the function of important components like valves and arteries. This section can help users understand the basic physiology of the heart.</p>
        </div>
        <div class="about-2">
            <h4>Common Heart Conditions and Difficulties</h4>
            <p>Discuss prevalent heart conditions, such as coronary artery disease, heart attacks, heart failure. Include information about risk factors, symptoms, and preventive measures. This will empower users to recognize potential issues and take steps towards a heart-healthy lifestyle.</p>
        </div>
        <div class="about-3">
            <h4>Healthy Lifestyle Tips and Prevention</h4>
            <p>Offer practical advice on maintaining a heart-healthy lifestyle. Include tips on a balanced diet, regular exercise, stress management,avoiding tobacco and excessive alcohol consumption.Providing steps for prevention can empower individuals to take control of their heart health.</p>
        </div>
    </div>


    <!-- Services -->
    <p style="color: white;" id="scrollServices">hello</p>
    <div class="services">
        <div class="services-heading">
            <h2 id="scrollServices">Services We Provide</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div>
            <div class="services-1">
                 <h4 class="services-subhead">Educational Resources</h4>
                 <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
            <div class="services-2">
                <h4 class="services-subhead">Risk Assessment Tools</h4>
                <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
            <div class="services-3">
                <h4 class="services-subhead">Clean & Trendy Design</h4>
                <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
            <div class="services-4">
                <h4 class="services-subhead">Tons of Sections</h4>
                <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
            <div class="services-5">
                <h4 class="services-subhead">Free Future Updates</h4>
                <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
            <div class="services-6">
                <h4 class="services-subhead">Premier Support</h4>
                <p>Producing long lasting organic SEO results for <br> brand of different kinds for more than a decade,<br> we understand that’s your.</p>
            </div>
        </div>
    </div>


    <!-- Team -->
    <p style="color: white;" id="scrollTeam">hello</p>

    <!-- footer -->
    <footer class="footer" style="background-color:#333" >
        <div class="footer-left">
            <h3 style="color: #f2f2f2;">Company</h3>
            <ul style="list-style-type: none;">
              <li><a href="#"> - About Us</a></li>
              <li><a href="#">- Career</a></li>
              <li><a href="#">- Team members</a></li>
              <li><a href="#">- Services</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <h3 style="color: #f2f2f2;">Legal</h3>
            <ul style="list-style-type: none;">
                <li><a href="#"> - Customer Service</a></li>
                <li><a href="#">- Terms and conditions</a></li>
                <li><a href="#">- Privacy Policy</a></li>
                <li><a href="#">- Contact US</a></li>
                <li><a href="#">- Why US?</a></li>
            </ul>
        </div>
    </footer>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>