<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>PulseProsper</title>
     <link rel="icon" type="image/png" href="logo.png">

    <!-- CSS -->
    <link rel="stylesheet" href="result.css">

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #333;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="logoimage.png" width="50px" height="50px"
                        alt="PuslseProper"></a>
                <p style="color: white; margin-top: 15px;">PulseProper</p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/profile" style="color: white; margin-left:800px;">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/" id="register-button" style="color: white;">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <span class="text">YOUR RISK RATE IS</span>
        <div class="circular-progress">
            <span class="progress-value" id="roundedOutput">%</span>
        </div>
    </div>
    <div>
        {{!-- <h3 class="sugg-btn">To view your Suggestions: <button type="submit" id="submit" class="btn"
                style="border: 1px solid #333;background-color: #333;border-radius: 5px;text-decoration: none;padding: 8px 15px; color: aliceblue; font-weight: bold;">CLICK
                HERE</button></h3> --}}
    </div>
    <h3 class="sugg-btn">
        To view your Suggestions:
        <a href="/sugg" class="btn-link">
            <button type="submit" id="submit" class="btn"
                style="border: 1px solid #333;background-color: #333;border-radius: 5px;text-decoration: none;padding: 8px 15px; color: aliceblue; font-weight: bold;">
                CLICK HERE
            </button>
        </a>
    </h3>

    <!-- JavaScript -->
    <script>
        let pythonOutput = {{ pythonOutput }};
        var roundedOutput = Math.ceil(pythonOutput * 10) / 10;
        document.getElementById('roundedOutput').textContent = roundedOutput.toFixed(1) + "%";

        let circularProgress = document.querySelector(".circular-progress"),
            progressValue = document.querySelector(".progress-value");

        let progressStartValue = 0,
            progressEndValue = roundedOutput,
            speed = 0.5;

        let progress = setInterval(() => {
            if (progressStartValue <= progressEndValue) {
                progressValue.textContent = `${progressStartValue.toFixed(1)}%`;
                circularProgress.style.background = `conic-gradient(#333 ${progressStartValue * 3.6}deg, #ededed 0deg)`;
                progressStartValue += 0.1; // Increment by 0.1 for decimal progress
            } else {
                clearInterval(progress);
            }
        }, speed);


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>