<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="sugg.css" />
   <title>PulseProsper</title>
    <link rel="icon" type="image/png" href="logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #333;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="logoimage.png" width="50px" height="50px" alt="PuslseProper"></a>
                <p style="color: white; margin-top: 15px;">PulseProper</p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/profile" style="color: white; margin-left:800px;">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/" id="register-button" style="color: white;">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>

    <header class="header">
 
        <div class="section_container header_container" id="home">
          <div class="header__content">
            <div class="cntr">
          <h1 class="section__header" style="color: #f2f2f2;">Your Heart <br> Health Advice!</h1></div>
          <p style="text-align: left;">
            Heart risk percentage varies based on individual factors, but lifestyle choices can influence up to <span style="color:red; font-weight: bold;">{{ riskPercentage }}%</span> of the likelihood of developing cardiovascular issues.
          </p>
          </div>
        </div>
      </header>

      <div class="probability" >
        <h3 class="section__header">Assessment of Heart Disease Risk: <span >INTERMEDIATE</span></h3>
      </div>

      <section class="section_container about_container" id="about">
        <div class="about__content">
          <h2 class="section__header">DIET PLAN</h2>
          <p class="section__description">
            Led by our team of expert and motivational instructors, "The Class You
            Will Get Here" is a high-energy, results-driven session that combines
            a perfect blend of cardio, strength training, and functional
            exercises.
          </p>
          <div class="about__grid">
            <h3>Heart-Healthy Food</h3>
            <div class="about__card">
                <span><i class="fa-solid fa-apple-whole"></i></span>
                <div>
                  <h4>Fruits and Vegetables:</h4>
                  <p>
                      Aim for a variety of colorful fruits and vegetables rich in vitamins, minerals, and antioxidants.
                  </p>
                </div>
              </div>
              <div class="about__card">
                <span><i class="fa-solid fa-wheat-awn"></i></span>
                <div>
                  <h4>Whole Grains:</h4>
                  <p>
                      Choose whole grains like brown rice, quinoa, oats, and whole wheat bread for fiber and nutrients.
                  </p>
                </div>
              </div>
              <div class="about__card">
                <span><i class="fa-regular fa-lemon"></i></span>
                <div>
                  <h4>  Lean Proteins And Healthy Fats:</h4>
                  <p>
                      Include lean protein sources such as fish, poultry, lean cuts of meat, tofu, legumes, and nuts. <br>
                      Opt for sources of healthy fats like avocados, nuts, seeds, and olive oil.
                  </p>
                </div>
              </div>
            
            <h3>Limit or Avoid</h3>

            <div class="about__card">
                <span><i class="fa-solid fa-drumstick-bite"></i></span>
                <div>
                  <h4>Limit Saturated and Trans Fats:</h4>
                  <p>
                      Reduce intake of saturated fats found in red meat, full-fat dairy, and processed foods. <br>
                      Avoid trans fats commonly found in fried and commercially baked products.
                  </p>
                </div>
              </div>
              <div class="about__card">
                <span><i class="fa-solid fa-cheese"></i></span>
                <div>
                  <h4>Added Sugars and Salt:</h4>
                  <p>
                      Limit salt intake by using herbs and spices for flavor. <br>
                      Be cautious of processed and packaged foods, as they often contain high levels of sodium and salt
                  </p>
                </div>
              </div>

          </div>
        </div>
      </section>

      
      <footer class="footer">
        <div class="section_container footer_container">
          <div class="footer__col">
            <h3>Consultation with Healthcare Professionals:</h3>
            <p>Always consult with a healthcare professional or a qualified fitness expert before starting any new diet or exercise plan, especially if you have underlying health conditions. They can provide personalized guidance based on your health status and individual needs.</p>
          </div>
          </div>
      </footer>
    


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>