<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="sugg.css" />
    <title>PulseProsper</title>
     <link rel="icon" type="image/png" href="logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #333;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="logoimage.png" width="50px" height="50px" alt="PuslseProper"></a>
                <p style="color: white; margin-top: 15px;">PulseProper</p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link" href="/profile" style="color: white; margin-left:800px;">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/" id="register-button" style="color: white;">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>

    <header class="header">
 
        <div class="section_container header_container" id="home">
          <div class="header__content">
            <div class="cntr">
          <h1 class="section__header" style="color: #f2f2f2;">Your Heart <br> Health Advice!</h1></div>
            <p style="text-align: left;">
              Heart risk percentage varies based on individual factors, but lifestyle choices can influence up to <span style="color:red; font-weight: bold;">{{ riskPercentage }}%</span> of the likelihood of developing cardiovascular issues.
            </p>
          </div>
        </div>
      </header>

      <div class="probability" >
        <h3 class="section__header">Assessment of Heart Disease Risk: <span >MINIMAL</span></h3>
      </div>


    <div class="photo">
        <img src="https://static-00.iconduck.com/assets.00/process-completed-icon-1024x1024-ddqxyxbc.png" width="180px" height="180px" alt="">
    </div>      
      <section class="section_container about_container" id="about">
        <div class="about__content">
          <h2 class="section__header">YOU'RE GOOD</h2>
          <p class="section__description">
            Based on your recent health assessments, there is no discernible risk of any heart disease at this time.

          </p>
          </div>
          
    </div>
</section>


      <footer class="footer">
        <div class="section_container footer_container">
          <div class="footer__col">
            <h3>Consultation with Healthcare Professionals:</h3>
            <p>Always consult with a healthcare professional or a qualified fitness expert before starting any new diet or exercise plan, especially if you have underlying health conditions. They can provide personalized guidance based on your health status and individual needs.</p>
          </div>
          </div>
      </footer>
    

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>